<template>
  <div class="section">
    <transition name="fade" mode="out-in">
      <modal :active.sync="modalOpened" v-if="modalOpened">
        <modal-list :listData="getCurrentUserData" v-if="getCurrentUserData"/>
      </modal>
    </transition>
    <div class="container has-text-right">
      <dropdown :dropDownData="['Posts','Todos','Albums']" />
    </div>
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child message">
            <p class="title message-header">Info</p>
            <div class="message-body card">
              <p>Name: {{user.name || reloadHelper.name }}</p>
              <p>Username: {{user.username || reloadHelper.username}}</p>
              <p>Email: {{user.email || reloadHelper.email}}</p>
              <p>Website: {{user.website || reloadHelper.website}}</p>
              <p>Phone: {{user.phone || reloadHelper.phone}}</p>
            </div>
          </div>
          <div class="tile is-child message">
            <p class="title message-header">Company</p>
            <div class="message-body card">
              <p>Name: {{ ( user.company && user.company.name) || ( reloadHelper.company && reloadHelper.company.name ) }}</p>
              <p>Bussiness: {{ ( user.company && user.company.bs ) || ( reloadHelper.company && reloadHelper.company.bs )}}</p>
              <p>Catch Phrase: {{ ( user.company && user.company.catchPhrase ) || ( reloadHelper.company && reloadHelper.company.catchPhrase
                )}}
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child card message flex-container">
            <p class="title message-header">Address</p>
            <div class="message-body card">
              <div>
                <p>City: {{( user.address && user.address.city) || ( reloadHelper.address && reloadHelper.address.city ) }}</p>
                <p>Street: {{( user.address && user.address.street ) || ( reloadHelper.address && reloadHelper.address.street
                  )}}
                </p>
                <p>Suite: {{( user.address && user.address.suite )|| ( reloadHelper.address && reloadHelper.address.suite )}}</p>
                <p>Zipcode: {{( user.address && user.address.zipcode ) || ( reloadHelper.address && reloadHelper.address.zipcode
                  )}}
                </p>
                <p>Latitude: {{( user.address && user.address.geo.lat ) || ( reloadHelper.address && reloadHelper.address.geo.lat
                  )}}
                </p>
                <p>Longitude: {{( user.address && user.address.geo.lng ) || ( reloadHelper.address && reloadHelper.address.geo.lng
                  )}}
                </p>
              </div>
            </div>
            <gmap-map :center="{lat: parseInt( ( user.address && user.address.geo.lat ) || (reloadHelper.address && reloadHelper.address.geo.lat)), lng: parseInt( ( user.address && user.address.geo.lng) || ( reloadHelper.address && reloadHelper.address.geo.lng ))}"
              :zoom="5" class="g-map"></gmap-map>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import Modal from '@/components/Modal.vue'
  import ModalList from '@/components/ModalList.vue'
  import Dropdown from '@/components/Dropdown.vue'
  import {
    mapGetters
  } from 'vuex'
  import modalMixin from '../mixins/modalMixin.js'

  export default {
    components: {
      Modal,
      ModalList,
      Dropdown
    },

    data() {
      return {
        modalOpened: false,
        dropdown: false
      }
    },
    computed: {
      ...mapGetters({
        reloadHelper: 'getCurrentUser',
        getCurrentUserData: 'getCurrentUserData'
      }),
      user() {
        return this.$route.params.data ? this.$route.params.data : ''
      }
    },
    mixins: [modalMixin],
    beforeRouteEnter(to, from, next) {
      next(vm => {
        if (!vm.$route.params.data) {
          vm.$store.dispatch('getUser', vm.$route.params.id)
        }
      })
    },
    beforeRouteUpdate(to, from, next) {
      this.$store.dispatch('getUser', to.params.id)
      next()
    }
  }
</script>

<style lang="scss" scoped>

  .flex-container{
    display: flex !important;
    flex-wrap: wrap;  
    .g-map{
      flex-grow: 2;
    }
  }

  .title {
    background-color: #901821 !important;
  }

  .message {
    .message-header {
      padding: 0.4em;
      margin: 0;
    }
  }

  .dropdown-content {
    padding: 10px;
  }

  @media only screen and (max-width: 900px) {
    .flex-container{
      flex-direction: column  
    }
    .g-map{
      height: 300px;
    }

  }
</style>