<template>
    <div class="section">
        <photos-list :listData="photos || reloadHelper"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PhotosList from '@/components/PhotosList.vue'

export default {
    components:{
        PhotosList
    },
    data(){
        return {}
    },
    computed: {
        ...mapGetters({
            photos: 'getCurrentUserData',
            reloadHelper: 'getCurrentUserHelper'
        }),
        album(){
            this.$route.params.data
        }
    },
    beforeRouteEnter(to,from,next) {
        next(vm => {
            if(!to.params.data){
                vm.$store.dispatch('pageReloadHelper', {id: to.params.id, name: to.name})
                vm.$store.dispatch('getUserPhotos', to.params.id)
            } else vm.$store.dispatch('getUserPhotos', to.params.id)
        })
    },
    beforeRouteUpdate(to, from, next) {
        this.$store.dispatch('pageReloadHelper', {id: to.params.id, name: to.name})
        this.$store.dispatch('getUserPhotos', to.params.id)
        next()
    }
}
</script>

<style lang="scss" scoped>

</style>


