<template>
    <div>
        <div class="nav-buttons" v-show="!$route.name.includes('home')">
        <div>
            <a class="button" @click="$router.go(-1)">
                <span class="icon">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="">
                    Back
                </span>
            </a>
        </div>
        <div>
            <router-link to="/">
                <a class="button">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="">
                        Home
                    </span>
                </a>
            </router-link>
        </div>
        </div>
        <nav class="navbar">
            <div class="navbar-brand">
                <router-link to="/">
                    <img src="@/assets/logo.png" alt="Home" width="112" height="28">
                </router-link>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss" scoped>
    .nav-buttons{
        display: flex;
        justify-content: center;
        div{
            &:first-of-type{
                margin-right: 8px;
            }
        }
    }
    .navbar {
        display: flex;
        background: #901821;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8px;
    }
</style>