<template>
    <div class="block is-desktop" id="nav">
        <div class="column has-text-left has-text-centered-mobile">
            <p class="is-size-2 is-size-3-mobile has-text-white">Room Estate</p>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    #nav {
        background-color: #901821;
        padding: 30px;
    }
</style>