<template>
  <div class="section is-small">
    <transition name="fade" mode="out-in">
      <modal :active.sync="modalOpened" v-if="modalOpened">
        <modal-list :listData="getCurrentUserData" v-if="getCurrentUserData"></modal-list>
      </modal>
    </transition>
    <list :listData="getUsers" :hasFooter="true" :footerData="['Posts','Todos','Albums']"/>
  </div>
</template>

<script>
// @ is an alias to /src
import List from '@/components/List.vue'
import { mapGetters } from 'vuex'
import Modal from '@/components/Modal.vue'
import ModalList from '@/components/ModalList.vue'
import bus from '../bus'
import modalMixin from '../mixins/modalMixin.js'

export default {
  name: 'home',
  components: {
    List,
    Modal,
    ModalList
  },
  data(){
    return {
       modalOpened: false
    }
  },
  methods: {},
  computed: {
    ...mapGetters([
      'getUsers',
      'getCurrentUserData'
    ])
  },
  created(){
    
    try {
      this.$store.dispatch('getAllUsers')
    }catch(error){}
  },
  mixins: [modalMixin]
}
</script>
