<template>
    <div class="section">
        <div class="container box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="subtitle is-marginless is-capitalized">{{ post.title || reloadHelper.title }}</p>
                        <p>
                            <strong>{{ currentUserEmail || user.email }}</strong>
                            <br>
                            {{ post.body || reloadHelper.body }} 
                            <br>
                        </p>
                    </div>

                    <article class="media" v-for="(comment,index) in comments" :key="index">
                        <figure class="media-left">
                            <p class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{comment.email}}</strong>
                                    <br>
                                        {{comment.name}}
                                    <br> 
                                        {{comment.body}}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
    import {
        mapGetters
    } from 'vuex'
    export default {
        data() {
            return {

            }
        },
        computed: {
            ...mapGetters({
                comments: 'getCurrentUserData',
                reloadHelper: 'getCurrentUserHelper',
                user: 'getCurrentUser'
            }),
            post() {
                return this.$route.params.data ? this.$route.params.data : ''
            },
            currentUserEmail(){
                
                return this.$route.params.data ? this.$store.getters.getUser(this.$route.params.data.userId).email : ''
                
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if(!to.params.data){
                    vm.$store.dispatch('pageReloadHelper', {id: to.params.id, name: to.name})
                    vm.$store.dispatch('getUserComments', to.params.id)
                } else vm.$store.dispatch('getUserComments', to.params.id)
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.$store.dispatch('pageReloadHelper', {id: to.params.id, name: to.name})
            this.$store.dispatch('getUserComments', to.params.id)
            next()
        }
    }
</script>

<style lang="scss" scoped>
</style>