<template>
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>User Data</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" @click="openModal($event, $route.params.id)">
                <a class="dropdown-item" v-for="(item,index) in dropDownData" :key="index">
                    {{item}}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import openModalMixin from '../mixins/openModalMixin'
    export default {
        props: {
            dropDownData: {
                type: Array,
                required: false,
                default: () => {
                    return []
                }
            }
        },
        mixins: [openModalMixin]
    }
</script>

<style lang="scss" scoped>
    .dropdown {
        margin: 10px;
        text-align: initial;
    }
</style>