<template>
    <div class="container box">
        <div class="block">
            <ul>
                <li v-for="(data,index) in paginatedData" :key="index" class="listing">
                    <div :class="[ 'message', 'is-small' ]">
                        <div class="message-header">
                            <p> {{data.name}}</p>
                        </div>
                        <div class="message-body">
                            <p class="is-size-5 is-size-7-mobile"> Username: {{data.username}}</p>
                            <p class="is-size-5 is-size-7-mobile"> Email: {{data.email}}</p>
                            <p class="has-text-left-mobile">
                                <a class="button is-size-7-mobile" @click="changeRoute(data)">
                                    <span class="icon">
                                        <i class="fas fa-arrow-circle-up"></i>
                                    </span>
                                    <span>
                                        More Info
                                    </span>
                                </a>
                            </p>
                        </div>
                        <div class="tabs" v-if="hasFooter">
                            <ul @click="openModal($event,data.id)">
                                <li v-for="(data,index) in footerData" :key="index">
                                    <a>{{data}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <pagination-controls :pageNumber="pageNumber" :pageCount="pageCount"/>
        </div>
    </div>
</template>

<script>
    import PaginationControls from '@/components/PaginationControls.vue'
    import paginationMixin from '../mixins/paginationMixin.js'
    import openModalMixin from '../mixins/openModalMixin'

    export default {
        components:{
            PaginationControls,
        },
        props: {
            hasFooter: {
                type: Boolean,
                required: false,
                default: false
            },
            footerData: {
                type: Array,
                required: false,
                default: () => {
                    return []
                }
            },
        },
        methods: {
            changeRoute(data){
                this.$router.push({ path: `/about/user/:id`, params: { data: data, id: data.id }, name:'about'})
            }
        },
        mixins: [paginationMixin, openModalMixin]
    }
</script>


<style lang="scss" scoped>
    div.container {

        .message-header {
            background-color: #901821;
        }
        .listing {
            margin: 5px;
            &:hover {
                cursor: pointer;
            }
        }

        .tabs ul{
            background-color: #90909033;
        }

        .tabs ul a:hover {
            background-color: #901821;
            color: #fff;
            text-decoration: none;
        }
        .message-body p:last-of-type{
            text-align: right
        }
        a.button{
            &:hover{
                animation: pulse 2s infinite ease-in-out
            }
        }
    }
  
    @keyframes pulse{
        0%{ box-shadow: 0 0 }
        70%{ box-shadow: 0 0 2.2px 6px rgba(144, 24, 33, 0.5) }
        100%{ box-shadow: 0 0 0 0 rgba(144, 24, 33, 0.1) }
    }

    @media screen and (min-width: 1200px){
        .container{
            width: 40%
        }
    }
    @media screen and (max-width: 700px){
        p.has-text-left-mobile{
            margin-top: 8px;
        }
    }

</style>