<template>
<div :class="['modal', {'is-active': isLoading}]">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="loader">Loading...</div>
  </div>
</div>
</template>

<script>
    export default {
        props: {
            isLoading: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .modal-content{
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .loader,
    .loader:after {
        border-radius: 50%;
        width: 16em;
        height: 16em;
    }

    .loader {
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid #fff;
        border-right: 1.1em solid #fff;
        border-bottom: 1.1em solid #fff;
        border-left: 1.1em solid rgb(144, 24, 33);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>