<template>
    <div :class="[ 'modal',{ 'is-active': active } ]">
        <div class="modal-background" @click="closeModal()"></div>
        <slot/>  
        <button class="modal-close is-large" aria-label="close" @click="closeModal()"></button>
    </div>
</template>

<script>
    export default {
        props: {
            active: {
                type: Boolean,
                required: true
            }
        },
        data(){
            return {
                isActive: this.active 
            }
        },
        methods: {
            closeModal(){
                this.$emit('update:active', false)
            }
        },
        beforeDestroy(){
            this.$store.commit('resetCurrentUserData')
        }
    }
</script>

<style lang="scss" scoped>
    .modal{
        margin-right: 0 !important
    }
    @media screen and (max-width: 600px){
        .modal-close{
            background-color: rgba(0, 0, 0, 0.5)
        }
    }
</style>