<template>
    <div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"> {{ getCurrentDataTitle }}</p>
            </header>
            <section class="modal-card-body">
                <div>
                    <div class="media" v-for="(data,index) in paginatedData" :key="index">
                        <div class="media-content">
                            <p>ID: {{data.email || data.id}}</p>
                            <p>Title: {{data.username || data.title}}</p>
                            <p v-show="data.hasOwnProperty('completed')">
                                Completed:
                                <span :class="[{'has-text-danger': !data.completed}, {'has-text-success': data.completed}]">{{data.completed}}</span>
                            </p>
                        </div>
                        <div class="media-right" v-show="getCurrentDataTitle !== 'Todos'">
                            <a class="button" @click="changeRoute(data)">
                                <span class="icon">
                                    <i class="fas fa-arrow-circle-up"></i>
                                </span>
                                <span class="">
                                    Detailed View
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <pagination-controls :pageNumber="pageNumber" :pageCount="pageCount" />
            </footer>
        </div>
    </div>
</template>

<script>
    import PaginationControls from '@/components/PaginationControls.vue'
    import paginationMixin from '../mixins/paginationMixin.js'
    import {
        mapGetters
    } from 'vuex'

    export default {
        components: {
            PaginationControls
        },
        methods: {
            changeRoute(data) {
                let name = '',
                    path = ''

                switch (this.getCurrentDataTitle) {
                    case 'Posts':
                        path = `/posts/post/:id`
                        name = 'posts'
                        break;
                    case 'Albums':
                        path = `/albums/album/:id`,
                        name = 'albums'
                        break;
                    case 'Todos':
                        break;
                }
                this.$router.push({
                    path: path.replace(':id', data.id),
                    params: {
                        data: data,
                        id: data.id
                    },
                    name: name
                })
            }
        },
        computed: {
            ...mapGetters([
                'getCurrentDataTitle'
            ])
        },
        mixins: [paginationMixin]
    }
</script>

<style lang="scss" scoped>
    .modal{
        position: relative;
        z-index: 1 !important
    }
</style>