<template>
    <div :class="['has-text-centered', 'modal-button-controls', {'is-sticky': isSticky}]">
        <button @click="previousPage()" :disabled="pageNumber == 0" class="button is-small">
            <span class="icon">
                <i class="fas fa-angle-left"></i>
            </span>
        </button>
        <button @click="nextPage()" :disabled="pageNumber >= pageCount - 1" class="button is-small">
            <span class="icon">
                <i class="fas fa-angle-right"></i>
            </span>
        </button>
        <div class="select is-small" v-if="currentDataSize > 10">
            <select v-model="listSize">
                <option v-for="(size,index) in selectSize" :key="index">{{size}}</option>
            </select>
        </div>
        <p>{{pageNumber + 1}} / {{pageCount === 0 ? '1' : pageCount}}</p>
    </div>
</template>

<script>
    export default {
        props: {
            'pageNumber': {
                required: true,
                type: [String, Number]
            },
            'pageCount': {
                required: true,
                type: [String, Number]
            },
            'selectSize': {
                required: false,
                default: () => {
                    return [10, 20]
                }
            },
            'isSticky': {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                listSize: 10
            }
        },
        methods: {
            nextPage() {
                this.$parent.$emit('nextPage')
            },
            previousPage() {
                this.$parent.$emit('previousPage')
            }
        },
        computed: {
            currentDataSize: function () {
                return this.$store.getters.getCurrentUserData.length
            }
        },
        watch: {
            listSize: function () {
                this.$parent.$emit('changeSize', this.listSize)
            }
        }
    }
</script>

<style lang="scss">
    .modal-button-controls {
        width: 50%;
        margin: 0 auto;
        margin-top: 8px;
        position: relative;

        button {

            &:first-of-type {
                margin-right: 8px;
            }
        }

        p {
            &:last-child {
                margin-top: 8px !important;
            }
        }

        .select{
            position: absolute;
            right: 5%;
        }
        
    }
    .is-sticky{
        background: #0f0f0f33;
        border-radius: 10px;
        position: sticky;
        bottom: 0;
        padding: 8px;
        z-index: 3;
    }

    @media (max-width: 600px){
        .modal-button-controls{
            width: 100%;
            font-weight: 800;

        }
    }
</style>