<template>
    <div :class="['modal', {'is-active': open}]">
        <div class="modal-background" @click="closeModal()"></div>
        <div class="modal-content">
            <p class="image">
                <img :src="imgSrc.url" :alt="imgSrc.title">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeModal()"></button>
    </div>
</template>

<script>
    export default {
        props:{
            open:{
                type: Boolean
            },
            imgSrc: {
                required: true
            } 
        },
        methods: {
            closeModal(){
                this.$parent.$emit('closeModal')
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>