<template>
    <div class="container">
        <photos-modal v-show="modalOpen" :imgSrc="img" :open="modalOpen"/>
        <div class="columns is-multiline">
            <div class="column is-one-fifth" v-for="(img,index) in paginatedData" :key="index" @click="openModal(img)">
                <div class="card">
                    <div class="card-image">
                        <figure class="image image is-4by3">
                            <img :src="img.thumbnailUrl" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                           <p>{{img.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <pagination-controls :pageNumber="pageNumber" :pageCount="pageCount" :isSticky="true" />
        </div>
    </div>
</template>

<script>
    import PaginationControls from '@/components/PaginationControls.vue'
    import paginationMixin from '../mixins/paginationMixin.js'
    import PhotosModal from '@/components/PhotosModal.vue'

    export default {
        components: {
            PaginationControls,
            PhotosModal
        },
        data(){
            return {
                modalOpen: false,
                img: {}
            }
        },
        methods:{
            openModal(img){
                this.img = img
                this.modalOpen = true
            }
        },
        mixins: [paginationMixin],
        created(){
            this.$on('closeModal',()=>{
                this.modalOpen = false
            })
        }
    }
</script>

<style lang="scss" scoped>
    .column{
        position: relative;
        &:hover{
            cursor: pointer;
            transition: all .2s ease-in-out;
            transform: scale(1.1,1.1);
            z-index: 2
        }
    }
    @media (hover: none){
        .column{
            transform: none;
        }
    }
</style>