<template>
  <div id="app">
    <loader :isLoading="loader" v-show="loader" />
    <app-header/>
    <transition name="slide-fade" mode="out-in">
      <router-view/>
    </transition>
    <app-footer/>
  </div>
</template>

<script>
  import AppHeader from '@/views/AppHeader.vue'
  import AppFooter from '@/views/AppFooter.vue'
  import Loader from '@/components/Loader.vue'
  import bus from './bus'

  export default {
    components: {
      AppHeader,
      AppFooter,
      Loader
    },
    data() {
      return {
        loader: false
      }
    },
    created() {
      bus.$on('loadStart', () => {
        this.loader = true
      })
      bus.$on('loadEnd', () => {
        this.loader = false
      })
    }

  }
</script>

<style lang="scss">
  html,
  body {
    background-color: #f7f7f7 !important;
    /* reset bulma */
    min-height: 100vh;
    position: relative;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  } //animations
  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter,
  .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */

    {
    transform: translateY(1000px); //transform: rotate(180deg);
    //transform: skew(20deg, 20deg);
    opacity: 0;
  }

  .fade-enter-active {
    transition: all .4s ease;
  }

  .fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .modal-card {
    width: auto !important;
  }
</style>